.circleSmall {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

.circleMedium {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

.circleLarge {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
}

.circleHuge {
    border-radius: 50%;
    width: 8em;
    height: 8rem;
}